// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Architectures

SDKROOT = iphoneos
ONLY_ACTIVE_ARCH = NO

// Search Paths

ALWAYS_SEARCH_USER_PATHS = NO

// Apple Clan - Preprocessing

ENABLE_STRICT_OBJC_MSGSEND = YES
GCC_C_LANGUAGE_STANDARD = gnu11

// Linking

OTHER_LDFLAGS = $(inherited) -ObjC

// User-Defined

MTL_FAST_MATH = YES

// Build options

ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = $(inherited)
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
ENABLE_BITCODE = NO
ENABLE_TESTABILITY = NO
VALIDATE_PRODUCT = YES

// Swift Compiler - Language

SWIFT_VERSION = 5.8

// Deployment

IPHONEOS_DEPLOYMENT_TARGET = 14.0
COPY_PHASE_STRIP = NO

// Versioning

VERSION_NUMBER = 1.0.0
BUILD_NUMBER = 1
CURRENT_PROJECT_VERSION = $(BUILD_NUMBER)
MARKETING_VERSION = $(VERSION_NUMBER)
VERSIONING_SYSTEM = apple-generic

// Signing

CODE_SIGN_STYLE = Manual
PRODUCT_BUNDLE_IDENTIFIER = $(PRODUCT_BUNDLE_IDENTIFIER_$(CONFIGURATION))
PROVISIONING_PROFILE_SPECIFIER = $(PROVISIONING_PROFILE_SPECIFIER_$(CONFIGURATION))
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(SWIFT_ACTIVE_COMPILATION_CONDITIONS_$(CONFIGURATION))

//Environment forced by Github build action

API_ENVIRONMENT_OVERRIDE = prod
BASE_GCC_PREPROCESSOR_DEFINITIONS = "API_ENVIRONMENT_OVERRIDE=${API_ENVIRONMENT_OVERRIDE}"
