#include "Base.xcconfig"

// User-Defined

MTL_ENABLE_DEBUG_INFO = NO

// Swift Compiler

SWIFT_COMPILATION_MODE = wholemodule
SWIFT_OPTIMIZATION_LEVEL = -O

// Deployment

COPY_PHASE_STRIP = YES
STRIP_INSTALLED_PRODUCT = YES
DEPLOYMENT_POSTPROCESSING = YES

// Apple Clang

ENABLE_NS_ASSERTIONS = NO
GCC_PREPROCESSOR_DEFINITIONS = "DEBUG=1" $(BASE_GCC_PREPROCESSOR_DEFINITIONS)

// Signing

CODE_SIGN_IDENTITY = iPhone Distribution
DEVELOPMENT_TEAM = JA666WMX28
APP_GROUP_NAME = //group.com.telefonica.enterprise
APS_ENVIRONMENT = development
